openapi: 3.0.3
info:
  title: Jobicy Public Jobs API & RSS
  version: "1.0.0"
  description: |
    OpenAPI 3.0 specification for Jobicy public remote jobs JSON API and RSS feed.
    Based on documentation at https://jobicy.com/jobs-rss-feed.

    Fair use & restrictions (summary):
    - Do not redistribute listings to external job platforms (Jooble, Google Jobs, LinkedIn, etc.).
    - Job postings are published with ~6-hour delay to preserve Jobicy as original source.
    - Polling more than once per hour may result in restricted access.
    - Accessing the feed a few times per day is sufficient.
    - Excessive querying or content manipulation may lead to access restrictions.

servers:
  - url: https://jobicy.com
    description: Production server

paths:
  /api/v2/remote-jobs:
    get:
      operationId: getRemoteJobs
      summary: Get latest remote jobs (JSON)
      description: |
        Returns the latest remote job listings in JSON format.
        Supports filtering by region, industry, and keyword.
      parameters:
        - name: count
          in: query
          description: Number of listings to return (1–100).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
          example: 20
        - name: geo
          in: query
          description: Filter by job region (e.g., usa, canada, emea, latam).
          required: false
          schema:
            type: string
          example: usa
        - name: industry
          in: query
          description: Filter by job category/industry (e.g., marketing, dev, supporting).
          required: false
          schema:
            type: string
          example: marketing
        - name: tag
          in: query
          description: Keyword search applied to job title and description.
          required: false
          schema:
            type: string
          example: python
      responses:
        "200":
          description: A list of remote job listings.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Job"
              examples:
                sample:
                  summary: Example response with two jobs
                  value:
                    - id: 12345
                      url: https://jobicy.com/jobs/12345-remote-senior-python-developer
                      jobTitle: Senior Python Developer
                      companyName: Acme Corp
                      companyLogo: https://jobicy.com/wp-content/uploads/company-logos/acme.png
                      jobIndustry: dev
                      jobType: full-time
                      jobGeo: usa
                      jobLevel: Senior
                      jobExcerpt: Build and maintain scalable backend services...
                      jobDescription: "<p>We are looking for a <strong>Senior Python Developer</strong>...</p>"
                      pubDate: "2025-05-30T14:32:00+00:00"
                      salaryMin: 90000
                      salaryMax: 130000
                      salaryCurrency: USD
                      salaryPeriod: yearly
                    - id: 67890
                      url: https://jobicy.com/jobs/67890-remote-customer-support-specialist
                      jobTitle: Customer Support Specialist
                      companyName: Globex
                      companyLogo: https://jobicy.com/wp-content/uploads/company-logos/globex.png
                      jobIndustry: supporting
                      jobType: contract
                      jobGeo: canada
                      jobLevel: Any
                      jobExcerpt: Support customers via chat and email...
                      jobDescription: "<p>Join our remote-first support team...</p>"
                      pubDate: "2025-05-30T10:05:00+00:00"
                      salaryMin: 20
                      salaryMax: 30
                      salaryCurrency: CAD
                      salaryPeriod: hourly
        "400":
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Invalid 'count' parameter. Must be between 1 and 100."
        "429":
          description: Too many requests (rate limiting).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Too many requests. Please limit feed checks to once per hour."
        "500":
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Unexpected server error."

  /feed/job_feed:
    get:
      operationId: getJobFeedRss
      summary: Get remote jobs RSS feed (XML)
      description: |
        Returns an RSS feed of remote job listings in XML format.
        Supports filtering by category, job type, region, and keywords.
      parameters:
        - name: job_categories
          in: query
          description: Comma-separated job categories (e.g., business, dev, marketing).
          required: false
          schema:
            type: string
          example: supporting
        - name: job_types
          in: query
          description: Comma-separated job types (full-time, freelance, contract, part-time).
          required: false
          schema:
            type: string
          example: full-time
        - name: search_keywords
          in: query
          description: Keyword search applied to job titles and descriptions.
          required: false
          schema:
            type: string
          example: designer
        - name: search_region
          in: query
          description: Region filter (e.g., usa, emea, latam, europe, canada).
          required: false
          schema:
            type: string
          example: usa
      responses:
        "200":
          description: RSS feed of remote job listings.
          content:
            application/rss+xml:
              schema:
                type: string
              example: |
                <?xml version="1.0" encoding="UTF-8"?>
                <rss version="2.0">
                  <channel>
                    <title>Jobicy – Remote Jobs</title>
                    <link>https://jobicy.com/feed/job_feed?job_categories=supporting&amp;job_types=full-time&amp;search_region=usa</link>
                    <description>Full-time Customer Service jobs in the U.S. region.</description>
                    <item>
                      <title>Customer Support Specialist</title>
                      <link>https://jobicy.com/jobs/67890-remote-customer-support-specialist</link>
                      <description><![CDATA[Join our remote-first support team...]]></description>
                      <pubDate>Fri, 30 May 2025 10:05:00 +0000</pubDate>
                      <guid isPermaLink="false">67890</guid>
                    </item>
                  </channel>
                </rss>
            application/xml:
              schema:
                type: string
        "400":
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Invalid parameter value.
        "429":
          description: Too many requests (rate limiting).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Too many requests. Please limit feed checks to once per hour.
        "500":
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Unexpected server error.

components:
  schemas:
    Job:
      type: object
      description: Remote job listing.
      required:
        - id
        - url
        - jobTitle
        - companyName
        - jobIndustry
        - jobType
        - jobGeo
        - jobLevel
        - jobExcerpt
        - jobDescription
        - pubDate
      properties:
        id:
          type: integer
          description: Unique Job ID.
        url:
          type: string
          format: uri
        jobTitle:
          type: string
        companyName:
          type: string
        companyLogo:
          type: string
          format: uri
          nullable: true
        jobIndustry:
          type: string
        jobType:
          type: string
          example: full-time
        jobGeo:
          type: string
        jobLevel:
          type: string
        jobExcerpt:
          type: string
        jobDescription:
          type: string
        pubDate:
          type: string
          format: date-time
        salaryMin:
          type: number
          nullable: true
        salaryMax:
          type: number
          nullable: true
        salaryCurrency:
          type: string
          nullable: true
          example: USD
        salaryPeriod:
          type: string
          nullable: true
          example: yearly

    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: string
