{
  "openapi": "3.0.3",
  "info": {
    "title": "Metropolitan Museum of Art Collection API",
    "version": "1.0.0",
    "description": "OpenAPI 3.0 specification for The Metropolitan Museum of Art Collection API.\n\nOfficial docs: https://metmuseum.github.io/\nBase URL: https://collectionapi.metmuseum.org/public/collection/v1"
  },
  "servers": [
    {
      "url": "https://collectionapi.metmuseum.org/public/collection/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/objects": {
      "get": {
        "operationId": "listObjects",
        "summary": "List all object IDs",
        "description": "Returns a listing of all valid object IDs available to use. Can be filtered by metadata date and department IDs.",
        "parameters": [
          {
            "name": "metadataDate",
            "in": "query",
            "description": "Returns any objects with updated data after this date.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2018-10-22"
            }
          },
          {
            "name": "departmentIds",
            "in": "query",
            "description": "Returns any objects in specific departments. One or more department IDs separated by the `|` character (e.g. `1` or `3|9|12`).",
            "required": false,
            "schema": {
              "type": "string",
              "example": "3|9|12"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of object IDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectIdListResponse"
                },
                "examples": {
                  "allObjects": {
                    "summary": "All objects",
                    "value": {
                      "total": 471581,
                      "objectIDs": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                    }
                  },
                  "byDepartment": {
                    "summary": "Filtered by departmentIds=1",
                    "value": {
                      "total": 1000,
                      "objectIDs": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                    }
                  },
                  "byMetadataDate": {
                    "summary": "Filtered by metadataDate=2018-10-22",
                    "value": {
                      "total": 1000,
                      "objectIDs": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                    }
                  },
                  "byMetadataAndDepartments": {
                    "summary": "Filtered by metadataDate and departmentIds",
                    "value": {
                      "total": 1000,
                      "objectIDs": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/objects/{objectID}": {
      "get": {
        "operationId": "getObject",
        "summary": "Get object details",
        "description": "Returns a record for an object, containing all open access data about that object, including its image (if the image is available under Open Access).",
        "parameters": [
          {
            "name": "objectID",
            "in": "path",
            "required": true,
            "description": "The unique Object ID for an object.",
            "schema": {
              "type": "integer",
              "example": 45734
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectDetail"
                },
                "examples": {
                  "objectExample": {
                    "summary": "Example object",
                    "value": {
                      "objectID": 45734,
                      "isHighlight": false,
                      "accessionNumber": "36.100.45",
                      "accessionYear": "1936",
                      "isPublicDomain": true,
                      "primaryImage": "https://images.metmuseum.org/CRDImages/as/original/DP251139.jpg",
                      "primaryImageSmall": "https://images.metmuseum.org/CRDImages/as/web-large/DP251139.jpg",
                      "additionalImages": [
                        "https://images.metmuseum.org/CRDImages/as/original/DP251138.jpg",
                        "https://images.metmuseum.org/CRDImages/as/original/DP251120.jpg"
                      ],
                      "constituents": [
                        {
                          "constituentID": 11986,
                          "role": "Artist",
                          "name": "Kiyohara Yukinobu",
                          "constituentULAN_URL": "http://vocab.getty.edu/page/ulan/500034433",
                          "constituentWikidata_URL": "https://www.wikidata.org/wiki/Q11560527",
                          "gender": "Female"
                        }
                      ],
                      "department": "Asian Art",
                      "objectName": "Hanging scroll",
                      "title": "Quail and Millet",
                      "culture": "Japan",
                      "period": "Edo period (1615–1868)",
                      "dynasty": "",
                      "reign": "",
                      "portfolio": "",
                      "artistRole": "Artist",
                      "artistPrefix": "",
                      "artistDisplayName": "Kiyohara Yukinobu",
                      "artistDisplayBio": "Japanese, 1643–1682",
                      "artistSuffix": "",
                      "artistAlphaSort": "Kiyohara Yukinobu",
                      "artistNationality": "Japanese",
                      "artistBeginDate": "1643",
                      "artistEndDate": "1682",
                      "artistGender": "Female",
                      "artistWikidata_URL": "https://www.wikidata.org/wiki/Q11560527",
                      "artistULAN_URL": "http://vocab.getty.edu/page/ulan/500034433",
                      "objectDate": "late 17th century",
                      "objectBeginDate": 1667,
                      "objectEndDate": 1682,
                      "medium": "Hanging scroll; ink and color on silk",
                      "dimensions": "46 5/8 x 18 3/4 in. (118.4 x 47.6 cm)",
                      "measurements": [
                        {
                          "elementName": "Overall",
                          "elementDescription": null,
                          "elementMeasurements": {
                            "Height": 118.4,
                            "Width": 47.6
                          }
                        }
                      ],
                      "creditLine": "The Howard Mansfield Collection, Purchase, Rogers Fund, 1936",
                      "geographyType": "",
                      "city": "",
                      "state": "",
                      "county": "",
                      "country": "",
                      "region": "",
                      "subregion": "",
                      "locale": "",
                      "locus": "",
                      "excavation": "",
                      "river": "",
                      "classification": "Paintings",
                      "rightsAndReproduction": "",
                      "linkResource": "",
                      "metadataDate": "2020-09-14T12:26:37.48Z",
                      "repository": "Metropolitan Museum of Art, New York, NY",
                      "objectURL": "https://www.metmuseum.org/art/collection/search/45734",
                      "tags": [
                        {
                          "term": "Birds",
                          "AAT_URL": "http://vocab.getty.edu/page/aat/300266506",
                          "Wikidata_URL": "https://www.wikidata.org/wiki/Q5113"
                        }
                      ],
                      "objectWikidata_URL": "https://www.wikidata.org/wiki/Q29910832",
                      "isTimelineWork": false,
                      "GalleryNumber": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/departments": {
      "get": {
        "operationId": "listDepartments",
        "summary": "List departments",
        "description": "Returns a listing of all departments, including department ID and display name.",
        "responses": {
          "200": {
            "description": "List of departments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentListResponse"
                },
                "examples": {
                  "departmentsExample": {
                    "summary": "Example departments list",
                    "value": {
                      "departments": [
                        {
                          "departmentId": 1,
                          "displayName": "American Decorative Arts"
                        },
                        {
                          "departmentId": 3,
                          "displayName": "Ancient Near Eastern Art"
                        },
                        {
                          "departmentId": 4,
                          "displayName": "Arms and Armor"
                        },
                        {
                          "departmentId": 5,
                          "displayName": "Arts of Africa, Oceania, and the Americas"
                        },
                        {
                          "departmentId": 6,
                          "displayName": "Asian Art"
                        },
                        {
                          "departmentId": 7,
                          "displayName": "The Cloisters"
                        },
                        {
                          "departmentId": 8,
                          "displayName": "The Costume Institute"
                        },
                        {
                          "departmentId": 9,
                          "displayName": "Drawings and Prints"
                        },
                        {
                          "departmentId": 10,
                          "displayName": "Egyptian Art"
                        },
                        {
                          "departmentId": 11,
                          "displayName": "European Paintings"
                        },
                        {
                          "departmentId": 12,
                          "displayName": "European Sculpture and Decorative Arts"
                        },
                        {
                          "departmentId": 13,
                          "displayName": "Greek and Roman Art"
                        },
                        {
                          "departmentId": 14,
                          "displayName": "Islamic Art"
                        },
                        {
                          "departmentId": 15,
                          "displayName": "The Robert Lehman Collection"
                        },
                        {
                          "departmentId": 16,
                          "displayName": "The Libraries"
                        },
                        {
                          "departmentId": 17,
                          "displayName": "Medieval Art"
                        },
                        {
                          "departmentId": 18,
                          "displayName": "Musical Instruments"
                        },
                        {
                          "departmentId": 19,
                          "displayName": "Photographs"
                        },
                        {
                          "departmentId": 21,
                          "displayName": "Modern Art"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "searchObjects",
        "summary": "Search objects",
        "description": "Returns a listing of all object IDs for objects that contain the search query within the object's data. Supports multiple filters.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search term.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "sunflowers"
            }
          },
          {
            "name": "isHighlight",
            "in": "query",
            "description": "When true, returns objects that match the query and are designated as highlights.",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "When true, searches specifically against the title field for objects.",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "When true, searches specifically against the subject keyword tags field for objects.",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "departmentId",
            "in": "query",
            "description": "Returns objects that are part of a specific department.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 6
            }
          },
          {
            "name": "isOnView",
            "in": "query",
            "description": "When true, returns objects that match the query and are on view in the museum.",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "artistOrCulture",
            "in": "query",
            "description": "When true, searches specifically against the artist name or culture field for objects.",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "medium",
            "in": "query",
            "description": "Returns objects that match the query and are of the specified medium or object type. Multiple values separated by `|`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Quilts|Silk|Bedcovers"
            }
          },
          {
            "name": "hasImages",
            "in": "query",
            "description": "When true, returns objects that match the query and have images.",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "geoLocation",
            "in": "query",
            "description": "Returns objects that match the query and the specified geographic location. Multiple values separated by `|`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "France|Paris"
            }
          },
          {
            "name": "dateBegin",
            "in": "query",
            "description": "Start of date range (inclusive). Must be used together with dateEnd.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1700
            }
          },
          {
            "name": "dateEnd",
            "in": "query",
            "description": "End of date range (inclusive). Must be used together with dateBegin.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1800
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "examples": {
                  "basicSearch": {
                    "summary": "Search by query",
                    "value": {
                      "total": 27,
                      "objectIDs": [1, 2, 3]
                    }
                  },
                  "highlightSearch": {
                    "summary": "Highlight search",
                    "value": {
                      "total": 3,
                      "objectIDs": [437329, 436121, 436535]
                    }
                  },
                  "departmentSearch": {
                    "summary": "Department search",
                    "value": {
                      "total": 361,
                      "objectIDs": [437329, 436121, 436535]
                    }
                  },
                  "onViewSearch": {
                    "summary": "On view search",
                    "value": {
                      "total": 19,
                      "objectIDs": [436524, 11922, 2032]
                    }
                  },
                  "artistOrCultureSearch": {
                    "summary": "Artist or culture search",
                    "value": {
                      "total": 14643,
                      "objectIDs": [459199, 189708, 189709]
                    }
                  },
                  "mediumSearch": {
                    "summary": "Medium search",
                    "value": {
                      "total": 15,
                      "objectIDs": [229155, 227076, 229930]
                    }
                  },
                  "hasImagesSearch": {
                    "summary": "Has images search",
                    "value": {
                      "total": 66,
                      "objectIDs": [436965, 191807, 722444]
                    }
                  },
                  "geoLocationSearch": {
                    "summary": "Geolocation search",
                    "value": {
                      "total": 3846,
                      "objectIDs": [206979, 436175, 436121]
                    }
                  },
                  "dateRangeSearch": {
                    "summary": "Date range search",
                    "value": {
                      "total": 56,
                      "objectIDs": [320993, 188180, 394199]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ObjectIdListResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "The total number of publicly-available objects."
          },
          "objectIDs": {
            "type": "array",
            "description": "An array containing the object ID of publicly-available objects.",
            "items": {
              "type": "integer"
            }
          }
        },
        "required": ["total", "objectIDs"]
      },
      "DepartmentListResponse": {
        "type": "object",
        "properties": {
          "departments": {
            "type": "array",
            "description": "An array containing department objects.",
            "items": {
              "$ref": "#/components/schemas/Department"
            }
          }
        },
        "required": ["departments"]
      },
      "Department": {
        "type": "object",
        "properties": {
          "departmentId": {
            "type": "integer",
            "description": "Department ID as an integer."
          },
          "displayName": {
            "type": "string",
            "description": "Display name for a department."
          }
        },
        "required": ["departmentId", "displayName"]
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "The total number of publicly-available objects matching the search."
          },
          "objectIDs": {
            "type": "array",
            "description": "An array containing the object IDs of publicly-available objects matching the search.",
            "items": {
              "type": "integer"
            }
          }
        },
        "required": ["total", "objectIDs"]
      },
      "ObjectDetail": {
        "type": "object",
        "properties": {
          "objectID": { "type": "integer" },
          "isHighlight": { "type": "boolean" },
          "accessionNumber": { "type": "string" },
          "accessionYear": { "type": "string" },
          "isPublicDomain": { "type": "boolean" },
          "primaryImage": { "type": "string", "format": "uri" },
          "primaryImageSmall": { "type": "string", "format": "uri" },
          "additionalImages": {
            "type": "array",
            "items": { "type": "string", "format": "uri" }
          },
          "constituents": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Constituent" }
          },
          "department": { "type": "string" },
          "objectName": { "type": "string" },
          "title": { "type": "string" },
          "culture": { "type": "string" },
          "period": { "type": "string" },
          "dynasty": { "type": "string" },
          "reign": { "type": "string" },
          "portfolio": { "type": "string" },
          "artistRole": { "type": "string" },
          "artistPrefix": { "type": "string" },
          "artistDisplayName": { "type": "string" },
          "artistDisplayBio": { "type": "string" },
          "artistSuffix": { "type": "string" },
          "artistAlphaSort": { "type": "string" },
          "artistNationality": { "type": "string" },
          "artistBeginDate": { "type": "string" },
          "artistEndDate": { "type": "string" },
          "artistGender": { "type": "string" },
          "artistWikidata_URL": { "type": "string", "format": "uri" },
          "artistULAN_URL": { "type": "string", "format": "uri" },
          "objectDate": { "type": "string" },
          "objectBeginDate": { "type": "integer" },
          "objectEndDate": { "type": "integer" },
          "medium": { "type": "string" },
          "dimensions": { "type": "string" },
          "dimensionsParsed": {
            "type": "array",
            "description": "Size of the artwork or object in centimeters, parsed.",
            "items": {
              "$ref": "#/components/schemas/DimensionsParsedElement"
            }
          },
          "measurements": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Measurement" }
          },
          "creditLine": { "type": "string" },
          "geographyType": { "type": "string" },
          "city": { "type": "string" },
          "state": { "type": "string" },
          "county": { "type": "string" },
          "country": { "type": "string" },
          "region": { "type": "string" },
          "subregion": { "type": "string" },
          "locale": { "type": "string" },
          "locus": { "type": "string" },
          "excavation": { "type": "string" },
          "river": { "type": "string" },
          "classification": { "type": "string" },
          "rightsAndReproduction": { "type": "string" },
          "linkResource": { "type": "string" },
          "metadataDate": { "type": "string", "format": "date-time" },
          "repository": { "type": "string" },
          "objectURL": { "type": "string", "format": "uri" },
          "tags": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Tag" }
          },
          "objectWikidata_URL": { "type": "string", "format": "uri" },
          "isTimelineWork": { "type": "boolean" },
          "GalleryNumber": { "type": "string" }
        },
        "required": ["objectID"]
      },
      "Constituent": {
        "type": "object",
        "properties": {
          "constituentID": { "type": "integer" },
          "role": { "type": "string" },
          "name": { "type": "string" },
          "constituentULAN_URL": { "type": "string", "format": "uri" },
          "constituentWikidata_URL": { "type": "string", "format": "uri" },
          "gender": { "type": "string" }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "term": { "type": "string" },
          "AAT_URL": { "type": "string", "format": "uri" },
          "Wikidata_URL": { "type": "string", "format": "uri" }
        }
      },
      "Measurement": {
        "type": "object",
        "properties": {
          "elementName": { "type": "string" },
          "elementDescription": {
            "type": ["string", "null"]
          },
          "elementMeasurements": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Spatial measurements in centimeters; weights in kg."
          }
        }
      },
      "DimensionsParsedElement": {
        "type": "object",
        "properties": {
          "element": { "type": "string" },
          "dimensionType": { "type": "string" },
          "dimension": { "type": "number" }
        }
      }
    }
  }
}
